@model PcRepaire.Models.Pc

@{
    ViewData["Title"] = "Pc";
}

    <h1>Personal computer data details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Manufacture.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Manufacture.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Discriminator)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Discriminator)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SoftWare)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SoftWare.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HardWare.HardType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HardWare.HardType)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SpeedI)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SpeedI)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EquipUser.FullName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EquipUser.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
