@model IEnumerable<PcRepaire.Models.Pc>

@{
    ViewData["Title"] = "Pc";
}


<h1>List personal computers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" style="max-width: 300px; margin:  40px 10px 40px auto">
    <div class="input-group">
        <input class="form-control" placeholder="serial number" name="search"></input>
        <div class="input-group-append">
            <button type="submit" class="btn btn-dark">Search</button>
        </div>
    </div>
</form>
@if (ViewData["Message"] != null)
{
    <label class="alert-danger error-div">@ViewData["Message"]</label>
}
<table class="table text-center" style="margin: 0 auto; width: 80%;">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["Sort"]">
                    @Html.DisplayNameFor(model => model.Manufacture.Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Used)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacture.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discriminator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <th>
                    @Html.DisplayFor(model => item.Used)
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
