@*@model IEnumerable<PcRepaire.Models.RepairList>*@
@model PagesList<PcRepaire.Models.RepairList>

@{
    ViewData["Title"] = "Repaire";
}

<div>
    <div class="col-8">
        <h1>Repaire list of personal computers</h1>
    </div>
    <div class="col-4 offset-sm-8" style="margin-bottom: 30px;">
        <form class="form-inline" asp-action="Index" method="get">
            <label style="margin-right: 30px;">Find by name</label>
            <input class="form-control mr-sm-2" type="search" name="search" value="@ViewData["CurrentFilter"]" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                Computer name
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["Date"]">
                    Date of repaire
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["Name"]">
                    LastName
                </a>
            </th>
            <th>
                SoftWareRapaired
            </th>
            <th>
                HardWareRapaired
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Pcs" asp-action="Details" asp-route-id="@item.Pc.Id">
                        @Html.DisplayFor(modelItem => item.Pc.Name)
                    </a>
                </td>
                <td>
                    <label>@item.Date.ToShortDateString()</label>
                </td>
                <td>
                    <a asp-controller="Workers" asp-action="Details" asp-route-id="@item.Worker.Id">
                        @Html.DisplayFor(modelItem => item.Worker.LastName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoftWareRapaired)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HardWareRapaired)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
        <tr style="margin-top: 30px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a asp-action="Create">Create New</a>
            </td>
        </tr>
    </tbody>
</table>

@{
    var prevDisabled = !Model.Previous ? "disabled" : "";
    var nextDisabled = !Model.Next ? "disabled" : "";
}

<div class="text-center">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-link @prevDisabled">
        Previous
    </a>
    <label style="margin-left: 10px; margin-right: 10px;">@Model.PageIndex page of @Model.PagesTotal</label>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-link @nextDisabled">
        Next
    </a>
</div>
