@model PcRepaire.Models.RepaireLists

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RepaireLists</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRepaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRepaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftWare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftWare)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HardWare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HardWare)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepaireMan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepaireMan.FullName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>*@
        <dd class = "col-sm-10">
            <a asp-controller="Pcs">

            </a>
            @*@Html.DisplayFor(model => model.Equipment.Info)*@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
